*.classpath
*.project
*.settings

Eclipse/fuzzybuilder-core/bin/
Eclipse/fuzzybuilder-core/lib/

Eclipse/fuzzybuilder-javafx/bin/
Eclipse/fuzzybuilder-javafx/lib/
Eclipse/fuzzybuilder-javafx/build/dist/
Eclipse/fuzzybuilder-javafx/build/fuzzybuilder/

Eclipse/fuzzybuilder-processing/bin/
Eclipse/fuzzybuilder-processing/lib/
Eclipse/fuzzybuilder-processing/build/dist/
Eclipse/fuzzybuilder-processing/build/fuzzybuilder/
